{% extends "base.html" %}

{% block tabs %}
  {% if "tabs" in config.theme.features %}
    {% include "partials/tabs.html" %}
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ 'assets/js/vendor.min.js' | url }}"></script>
  <script src="{{ 'assets/js/bundle.min.js' | url }}"></script>
  {%- set translations = {} -%}
  {%- for key in [
    "clipboard.copy",
    "clipboard.copied",
    "search.config.lang",
    "search.config.pipeline",
    "search.config.separator",
    "search.result.placeholder",
    "search.result.none",
    "search.result.one",
    "search.result.other"
  ] -%}
    {%- set _ = translations.update({ key: lang.t(key) }) -%}
  {%- endfor -%}
  <script id="__lang" type="application/json">
    {{- translations | tojson -}}
  </script>
  {% block config %}{% endblock %}
  <script>
    app = initialize({
      base: "{{ base_url }}",
      features: {{ config.theme.features or [] | tojson }},
      search: Object.assign({
        worker: "{{ 'assets/javascripts/worker/search.5eca75d3.min.js' | url }}"
      }, typeof search !== "undefined" && search)
    })
  </script>
  {% for path in config["extra_javascript"] %}
    <script src="{{ path | url }}"></script>
    <script>mermaid.initialize({theme: 'base'});</script> <!-- when inline %%{init: {'theme':'neutral'}}%% is not working, good options are neutral or base -->
  {% endfor %}
{% endblock %}